<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Chez Initial Dezign, nous nous spécialisons dans la création, la refonte et le développement de sites web d'une seule page qui laissent une impression durable.</p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Notre objectif est de créer des expériences utilisateur exceptionnelles qui captivent les visiteurs et reflètent l'identité de votre marque.</p>
    </div>
  </div>
</section>
